@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "DM Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #161880;
    --main-bg-color: #f1f3f7;
    --main-border-color: #96969656;
}

body {
    /* margin: 0 1.5rem 0 1.5rem; */
    /* background-color: var(--main-bg-color); */
}

.container {
    margin: 0 3.5rem;
}

.nav-top a,
nav a {
    list-style: none;
    text-decoration-line: none;
    color: black;
}

.nav-top {


    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    height: 3rem;
    display: flex;
    border: 1px solid var(--main-border-color);
    gap: 1rem;

}

form select,
form input {
    font-size: 16px;
    border: none;
    outline: none;
    /* height: 2.9rem; */
    /* background-color: var(--main-bg-color); */
}

form select {
    padding: 0 10px 0 10px;
    border-right: 1px solid var(--main-border-color);
}

form input {
    width: 18rem;
}

.search-icon {
    display: flex;

}

.search-icon .bx-search {
    width: 3rem;
    font-size: x-large;
    color: var(--main-bg-color);
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcuts {
    display: flex;
    gap: 1rem;
}

.shortcuts .bx {
    font-size: 1.6rem;
}

.nav-top .shortcuts .wishlist-count {
    /* position: relative;
    top: -20px;
    right: 5px; */
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 18px;
    right: 88px;
    border-radius: 50%;
    color: white;
    background-color: var(--main-color);
}

.nav-top .shortcuts .cart-count {
    position: absolute;
    top: 18px;
    right: 45px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    background-color: var(--main-color);

}

hr {
    border: none;
    border-top: 1px solid var(--main-border-color);
}



/* main-nav */
nav {
    font-size: 20px;
}
.dropdowns {
    width: 30vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    display: none;
    background-color: var(--main-bg-color);
}
.show {
    display: block;
    animation: dropdownAnimation 0.8s forwards;
}

@keyframes dropdownAnimation {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 500px;
        opacity: 1;
    }
}

.dropdowns li {
    padding: 0.6rem;
}

.catagories .bx-menu,
.catagories p {
    font-size: 1.3rem;
}

.topics {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topics .navlinks ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.offer {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* nav-button */

.nav-responsive{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    display: none;
}
.nav-responsive a{
    color: black;
    text-decoration: none;
}
.nav-responsive .bx{
    font-size: 1.5rem;
}
.nav-responsive .cart-count {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    background-color: var(--main-color);

}
.nav-responsive .logo img{
    width: 90px;
}


   /* sidebar */

.sidebar i{
cursor: pointer;
}
#sidebar:active{
    scroll-behavior: smooth;
}
.sidebar a{
    color: black;
    text-decoration: none;
}

.sidebar {
    width: 450px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: fixed;
    top: 0;
    left: -550px;
    height: 100%;
    transition: 0.3s;
    z-index: 1000;
    overflow-y: auto;
}
.sidebar.active {
    left: 0;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}
/* .backdrop.active {
    display: block;
} */
#sidebar{
    display: none;

}


   /* collapse */
   

/* home */
.content-1 .collhome {
    max-height: 0;
    
    overflow: hidden;
    transition: max-height .5s ease-out, opacity 1s ease-in-out;
}
 .collhome.collapses{
    max-height: 500px;
    
} 

/* shop */

.content-2 .colshop {
    max-height: 0;
    
    overflow: hidden;
    transition: max-height .5s ease-out, opacity 1s ease-in-out;
} 
  .colshop.collapses{
    max-height: 5000px;
    
} 

.content-2 .colshop_layouts {
    max-height: 0;
    
    overflow: hidden;
    transition: max-height .5s ease-out, opacity 1s ease-in-out;
}
 .colshop_layouts.collapses{
    max-height: 500px;
    
} 

.content-2 .colshop_productlayouts {
    max-height: 0;
    
    overflow: hidden;
    transition: max-height .5s ease-out, opacity 1s ease-in-out;
}
 .colshop_productlayouts.collapses{
    max-height: 500px;
    
} 


.content-2 .colshop_collection {
    max-height: 0;
    
    overflow: hidden;
    transition: max-height .5s ease-out, opacity 1s ease-in-out;
}
 .colshop_collection.collapses{
    max-height: 500px;
    
} 


.content-2 .colshop_explore {
    max-height: 0;
    
    overflow: hidden;
    transition: max-height .5s ease-out, opacity 1s ease-in-out;
}
 .colshop_explore.collapses{
    max-height: 500px;
    
} 


/* products */


.content-4 .colproduct {
    max-height: 0;
    
    overflow: hidden;
    transition: max-height .5s ease-out, opacity 1s ease-in-out;
}
 .colproduct.collapses{
    max-height: 5000px;
    
} 



.content-4 .colproduct_productlayout {
    max-height: 0;
    
    overflow: hidden;
    transition: max-height .5s ease-out, opacity 1s ease-in-out;
}
 .colproduct_productlayout.collapses{
    max-height: 500px;
    
} 



.content-4 .colproduct_producttypes {
    max-height: 0;
    
    overflow: hidden;
    transition: max-height .5s ease-out, opacity 1s ease-in-out;
}
 .colproduct_producttypes.collapses{
    max-height: 500px;
    
} 




.content-4 .colproduct_productfeature {
    max-height: 0;
    
    overflow: hidden;
    transition: max-height .5s ease-out, opacity 1s ease-in-out;
}
 .colproduct_productfeature.collapses{
    max-height: 500px;
    
} 




.content-4 .colproduct_exclusivefeature {
    max-height: 0;
    
    overflow: hidden;
    transition: max-height .5s ease-out, opacity 1s ease-in-out;
}
 .colproduct_exclusivefeature.collapses{
    max-height: 500px;
    
} 

/* pages */


.content-6 .colpage {
    max-height: 0;
    /*  */
    overflow: hidden;
    transition: max-height 1s ease-in;
}
 .colpage.collapses{
    max-height: 5000px;
    /*  */
} 

   /* collapse end */
   .catagories-content{
    display: none;
   }
   .sidebar{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}
.menu-content{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.content-items{
    /* padding-left: 1rem; */
    display: flex;
    flex-direction: column;

}
.content-name a,.content-5,.content-3{
    padding: 0.8rem 0 0.8rem 0.8rem;
    font-weight: 500;
}
.item-name p,.content-items a{
    padding: 0.8rem 0 0.8rem 1.6rem;
}
.item-name-list a{
    padding: 0.8rem 0 0.8rem 2.4rem;
}

.content-items .item-name-list{
    display: flex;
    flex-direction: column;

}
.content-name,.item-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
   /* button */
   .btn.active{
    color: white;
    background-color: #161880;
}
.button{
    display: flex;
    justify-content: space-between;
    gap: 0.6rem;
    padding: 0.6rem 1rem;
}
.button button{
    font-size: 1.01rem;
    font-weight: 500;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--main-border-color);
}
.button .right button{
    background-color: #fff;
    border: none;
    font-size: x-large;
    font-weight: 400;
}
button{
    cursor: pointer;
}

   /* sidebar style */
   .icon-wishlist{
    position: relative;
    padding: 0.8rem 0 0.8rem 0.8rem;
    display: flex;
    text-align: center;
    gap: 0.5rem;
    font-weight: 400;
    height: 3rem;
    width: 5rem;
   }
   .icon-wishlist .bx{
    font-size: 1.3rem;
   }
   .icon-wishlist .cart-count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 15px; 
    bottom: 1.5rem;
    right: 3.5rem;
    color: white;
    background-color: var(--main-color);

}
.formloginresister{
    display: flex;
    padding: 2rem 0;
    flex-direction: column;
    gap: 1rem;
}
.formloginresister button{
    padding: 0.5rem 0;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--main-color);
    text-align: center;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;

}
.formloginresister button:hover{
    background-color: black;
}
.formloginresister button .bx{
    /* text-align: center; */
    font-size: 1.5rem;
}

.formloginresister .icon-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.lang-money{
    display: flex;
    gap: 0.5rem;
}

/* asidebar catagories content */
#cat2{
    display: none;
}
.catagories-content{
    display: flex;
    justify-content: start;
    flex-direction: column;
}










/* 
@keyframes colhomeAnimation {
    from {
        max-height: 0;
        
    }

    to {
        max-height: 10rem;
        opacity: 1;
    }
} */




















@media (width < 988px) {
    i{
        cursor: pointer;
    }
    .offer {
        display: none;
    }

    .shortcuts .wishlist {
        display: none;
    }

    nav,
    .nav-top {
        display: none;
    }
    .nav-responsive{
        display: flex;
    }
    .container{
        margin: 0 1rem;
    }
    #sidebar{
        display: flex;
    }
    .backdrop.active {
        display: block;
    }

}